# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# --- Environments ---
venv/
env/
.env
*.env

# --- IDEs & Editors ---
.vscode/
.idea/

# --- Alembic ---
alembic/versions/__pycache__/
alembic/versions/*.pyc

# --- SQLite / Databases ---
*.db
*.sqlite3

# --- Testing ---
.pytest_cache/
.coverage
htmlcov/

# --- Misc ---
.DS_Store
